<!-- BG info -->
<div class="bg-block-01">
    <div class="bg">
        <div class="blog-info">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                        <a href="http://www.naks.ru/" target="_blank">
                            <img src="img{% static 'SASP.png' %}" class="sasp__logo"  title="Национальное Агентство Контроля Сварки"
                                alt="">
                        </a>

                        <div class="about__organization__text">
                            <p>Аттестационный центр <br> <strong>НАКС – Самотлор</strong> </p>
                        </div>

                        <div class="about__organization__text__two">
                            <p>Аттестационный центр «Самотлор» - является
                                членом СРО НП «Национальное Агентство Контроля Сварки» Системы Аттестации Сварочного
                                производства (САСв) Ростехнадзора и оказывает услуги по аттестации сварщиков и
                                специалистов сварочного производства.
                            </p>
                        </div>

                        <button class="button__zayavka__online" data-toggle="modal" data-target="#modal-statement">
                            Подать заявку онлайн
                        </button>
                    </div>
                    <div class="col-xl-5">
                        <p class="head__information">Информация <br> для заявителей</p>

                        <div class="block__info">
                            <p><a href="" class="info__text__item">Область деятельности АЦ "НАКС-Самотлор"</a></p>
                            <p><a href="" class="info__text__item">Пример заявок на аттестацию</a></p>
                            <p><a href="doc.html#doc-zayavki" class="info__text__item">Необходимые документы для заявок</a></p>
                            <p><a href="" class="info__text__item">Продление срока аттестационных удостоверений</a></p>
                            <p><a href="profstandarti.html#profstandarti" class="info__text__item">Профстандарты в области сварки</a></p>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
</div>
</div>