{% load static %}{% load link_holders %}{% load scribbler_tags %}
<!-- BG info -->
<div class="bg-block-01">
    <div class="bg">
        <div class="blog-info">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">                     

                        <div class="about__organization__text">
                            {% scribble 'org_title' %}
                            <p>ООО АЦ «НАКС Самотлор»</p>
                            {% endscribble %}
                        </div>

                        <div class="about__organization__text__two">
                            {% scribble 'about_org_text' %}
                            <p>Аттестационный центр «Самотлор» - является
                                членом СРО Ассоциация «Национальное Агентство Контроля Сварки», являются действующим АЦ Системы Аттестации Сварочного
                                производства (САСв) Ростехнадзора и оказывает услуги по аттестации сварщиков и
                                специалистов сварочного производства, сварочных материалов, оборудования и технологий, а также оценки квалификации.
                            </p>
                            {% endscribble %}
                        </div>

                        <button class="button__zayavka__online" data-toggle="modal" data-target="#modal-statement">
                            Подать заявку онлайн
                        </button>
                    </div>
                    <div class="col-xl-5">
                        <p class="head__information">Информация <br> для заявителей</p>

                        <div class="block__info">
                            <p><a href="{% link_holder 'OBL_D' %}#page-top" class="info__text__item">{% title_holder 'OBL_D' %}</a></p>
                            <p><a href="{% link_holder 'ZAYAVKI' %}#page-top" class="info__text__item">{% title_holder 'ZAYAVKI' %}</a></p>
                            <p><a href="{% link_holder 'PRODLENIYE' %}#page-top" class="info__text__item">{% title_holder 'PRODLENIYE' %}</a></p>
                            <p><a href="{% link_holder 'OK_SV' %}#page-top" class="info__text__item">{% title_holder 'OK_SV' %}</a></p>
                            <p><a href="{% link_holder 'PROFSTANDARDS' %}#page-top" class="info__text__item">{% title_holder 'PROFSTANDARDS' %}</a></p>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
</div>
</div>