            <div class="header__table__box__two">
                <div class="col-xl-2 col-sm-2 col-md-2 d-inline-block align-middle">
                    <p class="name__table">{{ person.fio }}</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="info__table">{{ person.udost_number }}</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="info__table">{{ person.udost_gtu }}</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="info__table">{{ person.udost_sp_sv }}</p>
                </div>
            </div>