{% load static %}
<!-- footer -->
<div class="footer__box">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="logo__gray">
          <img src="{% static 'img/arkhangelsk__logo.png' %}" alt="">
        </div>
        <div class="footer__text__left">
          <p>Организация является членом Саморегулируемая организация Ассоциация «НАКС».</p>
        </div>
        <div class="line__footer">
        </div>
        <div class="sasp__logo__gray">
          <a href="http://www.naks.ru" target="_blank">
            <img src="{% static 'img/sasp__gray__logo.png' %}" title="Система Аттестации Сварочного Оборудования" alt="">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-6 col-xl-5">
        <div class="menu__footer__text">
          <nav>
            <ul class="menu__footer">
              <a href="o-kompanyi.html#o-kompaniy">
                <li>О Нас</li>
              </a>
              <a href="doc.html#doc">
                <li>Документы</li>
              </a>
              <a href="reestr.html#reestr">
                <li>Реестр САСв</li>
              </a>
            </ul>
          </nav>
        </div>
     <div class="box__spks__logo__footer">
        <p class="spks__logo"><img src="{% static 'img/spks__logo-01.png' %}"  alt="">
        </p>    
       <div class="spks__web">
          <a href="http://spks.naks.ru/spks/about/" class="spks__link" title="О Совете по профессиональным квалификациям в области сварки">www.spks.naks.ru</a>
       </div>
     </div>
      </div>      
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
        <div class="footer__number text-right">
          <p class="number__footer__two d-inline-block">8 (904) 870-19-05</p>
          <p class="number__footer d-inline-block">8 (919) 53-98-333</p>
          <p class="number__footer__two d-inline-block">8 (902) 855-80-81</p>
          <p class="number__footer d-inline-block">8 (902) 855-47-02</p>
        </div>
        <p class="footer__mail text-right">
          <a href="mailto:sur20ac@mail.ru" title="Написать письмо">sur20ac@mail.ru</a></p>
        <p class="footer__adres text-right">
          628600, Ханты-Мансийский автономный округ – Югра, г. Нижневартовск,
          Западный промышленный узел, панель 4, ул. Индустриальная, д. 89
        </p>
        <p class="adres__on__map text-right">
          <a data-fancybox="" data-options="" title="Открыть карту" href="https://www.google.com/maps/place/%D0%98%D0%BD%D0%B4%D1%83%D1%81%D1%82%D1%80%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F+%D1%83%D0%BB.,+89,+%D0%9D%D0%B8%D0%B6%D0%BD%D0%B5%D0%B2%D0%B0%D1%80%D1%82%D0%BE%D0%B2%D1%81%D0%BA,+%D0%A5%D0%B0%D0%BD%D1%82%D1%8B-%D0%BC%D0%B0%D0%BD%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9+%D0%90%D0%BE,+628609/@60.9550379,76.5204629,18z/data=!4m8!1m2!2m1!1z0JfQsNC_0LDQtNC90YvQuSDQv9GA0L7QvNGL0YjQu9C10L3QvdGL0Lkg0YPQt9C10LssINC_0LDQvdC10LvRjCA0LCDRg9C7LiDQmNC90LTRg9GB0YLRgNC40LDQu9GM0L3QsNGPLCDQtC4gODk!3m4!1s0x436d3ec03151fe91:0x1f72c20a5fde0e3e!8m2!3d60.955146!4d76.520774">
            Посмотреть на карте</a>
        </p>
        <div class="footer__button__feedback text-right">

          <button class="button__zayavka__footer">
            <a href="#" data-toggle="modal" data-target="#modal-statement">
              Оставить заявку</a>
          </button>
        </div>
        <div class="line__footer__two">
        </div>
        <div class="sasp__logo__gray__two">
          <img src="img{% static 'sasp__gray__logo.png' %}" alt="">
        </div>
      </div>

    </div>
  </div>

</div>

<div class="basement__footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-xl-4 col-md-4">
        <p class="basement__text">
          ООО АЦ «НАКС – Самотлор» © 2012-2018 | &nbsp; Все права защищены
        </p>
      </div>
      <div class="col-xl-3 col-md-4">
        <a href="politika-konfidentsialnosti.html#political" class="political__konf" target="_blank">
          Политика конфиденциальности
        </a>
      </div>
      <div class="col-xl-5">
        <div class="razrabotano__basement__footer">
          <a href="http://www.naks.ru/naksmedia/" target="_blank" class="razrabotano__v__naks__media">
            Разработано в - НАКС Медиа</a>
          <img src="img/naks__media__logo .png" class="naks__media__logo" alt="">
        </div>
      </div>
    </div>
  </div>
</div>




<!-- end footer -->