{% load static %}{% load scribbler_tags %}
<header class="head">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="head__text__adres d-flex align-items-center">
          <img src="{% static 'img/here.png' %}" alt="">
          {% scribble 'address' %}
          628600, г. Нижневартовск, Западный промышленный узел, панель 4, ул. Индустриальная, д. 89
          {% endscribble %}
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="head__text__numbercok__two float-right d-inline-block">
          ООО «НАКС-Самотлор» в реестрах НАКС:

          <div class="drop-acst d-inline-block">
            <button class="list__acst__center dropdown-toggle" title="Выбрать центр" type="button"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              СУР-20АЦ
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">СУР-20АЦ-1АП</a>
              <a class="dropdown-item" href="#">СУР-20АЦ-2АП</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="header__block__two">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-12 col-lg-4 col-xl-3">
        <a href="{% url 'index' %}">
          <div class="logo__blue__header">
            <img src="{% static 'img/arkhangelsk__logo__header.png' %}" alt="">
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-5 col-md-5 col-lg-3 col-xl-2">
        <div class="header__number">
          {% scribble 'phones1' %}
          <p>8 (902) 855-80-81</p>
          <p>8 (919) 53-98-333</p>
          {% endscribble %}
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-5 col-lg-3 col-xl-2">
        <div class="header__number">
          {% scribble 'phones2' %}
          <p class="text-left">8 (902) 855-47-02</p>
          <p class="text-left">8 (904) 870-19-05</p>
          {% endscribble %}
        </div>
      </div>
      <div class="col-xs-2 col-sm-3 col-md-2 col-lg-2 col-xl-1">
        <div class="mail__box">

          {% scribble 'email' %}
          <p><a href="mailto:sur20ac@mail.ru" class="header__mail" title="написать письмо">sur20ac@mail.ru</a></p>
          <p><a href="mailto:sur15acsamotlor@mail.ru" class="header__mail"
              title="Написать письмо">sur15acsamotlor@mail.ru</a></p>
          {% endscribble %}

        </div>

      </div>

      <div class="col-xl-2">
        <div class="header__buttons-container">
          <button class="button__zayavka">
            <a href="#" data-toggle="modal" data-target="#modal-statement">
              Оставить заявку</a>
          </button>
        </div>
      </div>
      <div class="col-xl-2">
        <div class="header__buttons-container">
          <button class="button__system__edo">
            <a href="https://ac.naks.ru/" target="_blank">
              Войти в систему ЭДО</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>