/*--------------------- Спецификация ---------------------*/

body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
    opacity:0;
    transition:.4s;
}

@media (min-width: 360px) {
    .container {
        max-width: 1555px;
    }
}

p {
    margin: 0;
}

.row a {
    text-decoration: none;
    list-style: none;
}

.back__to__main {
    background-color: #f6f7f9;
    border: none;
    outline: none;
    box-shadow: none;

    &:hover {
        background-color: #ececec;
    }

    a {
        padding: 12px 15px;
        text-decoration: none;
        display: block;
        color: #96979a;
        font-size: 14px;
    }
}

.line__otstup {
    margin-bottom: 25px;
}

/*--------------------- Хедр ---------------------*/

.head {
    background-color: #333333;
    padding: 15px;
}

.head__text__adres {
    color: #757575;
    font-weight: 550;

    @media screen and (max-width: 576px) {
        text-align: center;
    }
}

.head__text__numbercok__two {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    text-align: right;

    @media screen and (max-width: 576px) {
        text-align: center;
    }
}

.list__acst__center{
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    color: #cacaca;
    font-weight: 400;
        &:focus{
        box-shadow: none;
        outline: none;
    }

}


.dropdown-menu {
    // margin-top: 35px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
    line-height: 2;
    border: none;
}

/*--------------------- header ---------------------*/


.header__block__two {
    padding: 25px 0px 35px 0px;
}

.header__number {
    font-size: 18px;
    color: #000;
    font-weight: 550;
    text-align: right;

    @media screen and (max-width: 1510px) {
        margin-top: 15px;
        font-size: 18px;
        float: left;
    }
}

.mail__box {
    float: right;

    @media screen and (max-width: 576px) {
        margin-top: 10px;
        float: left;
    }

    @media screen and (max-width: 320px) {
        margin-top: 10px;
        float: left;
    }

}

.header__mail {
    color: #414141;
    font-size: 14px;

}

.button__zayavka {
    color: #5ba4dd;
    border: 1px #5ba4dd solid;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    padding: 0px 15px;
    width: 100%;

    &:hover {
        background-color: rgba(91, 164, 221, 0.1);
    }

}

.button__zayavka a {
    display: block;
    color: #5ba4dd;
    line-height: 44px;
    white-space: nowrap;
}

.button__system__edo {
    border: 1px #5ba4dd solid;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background-color: #5ba4dd;
    padding: 0 15px;
    width: 100%;
}

.button__system__edo a {
    display: block;
    color: #fff;
    white-space: nowrap;
    line-height: 44px;
}

.button__system__edo:hover {
    background-color: #4d9ad4;
}

.button__system__edo:active {
    background-color: #488cc0;
}

// Подвал

.footer__box {
    background-color: #333333;
    padding: 45px 0px 45px 0px;
}

.logo__gray {
    margin-bottom: 20px;
}

.sasp__logo__gray {
    @media screen and (max-width: 320px) {
        width: 223px;
        height: 79px;
        display: none;
    }
}

.sasp__logo__gray__two {
    display: none;
}

.sasp__logo__gray__two {
    @media screen and (max-width: 320px) {
        display: block;
        margin-top: 25px;
    }
}

.line__footer__two {
    @media screen and (max-width: 320px) {
        border-bottom: 1px #888888 solid;
        width: 100%;
    }
}

.logo__gray__text {
    text-transform: uppercase;
    font-size: 18px;
    color: #6f81a7;

    @media screen and (max-width: 320px) {
        font-size: 14px;
    }

}

.footer__text__left {
    color: #888888;
    font-size: 12px;
    margin-bottom: 25px;
    font-weight: 500;
}

.line__footer {
    border-bottom: 1px #888888 solid;
    margin-bottom: 25px;
    width: 100%;
}

.menu__footer {
    display: flex;

    @media screen and (max-width: 1400px) {
        display: flex;
        flex-direction: column;
    }
}

.menu__footer li {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 15px;

    @media screen and (max-width: 1400px) {
        padding: 10px 0px 0px 0px;
    }
}

.menu__footer li:hover {
    color: #e0e0e0;
}

.basement__footer {
    background-color: #414141;
    padding: 15px 0px 15px 0px;
}

.basement__text {
    color: #888888;
    font-size: 12px;
    font-weight: 400;
}


.political__konf {
    font-size: 12px;
    color: #888888;
    font-weight: 500;
}

.naks__media__logo {
    margin-left: 25px;
}

.razrabotano__basement__footer {
    text-align: right;

    @media screen and (max-width: 320px) {
        text-align: center;
    }
}

.razrabotano__v__naks__media {
    font-size: 12px;
    font-weight: 500;
    color: #888888;
}

.number__footer__two {
    margin-right: 15px;

    @media screen and (max-width: 1199px) {
        margin: 0;
    }
}

.footer__number {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer__mail {
    font-size: 16px;
    color: #888888;
    margin-bottom: 15px;

    a {
        color: #888888;
        ;
        border-bottom: 1px solid #888888;
    }
}

.footer__adres {
    font-size: 12px;
    color: #888888;
    font-weight: 500;
}

.adres__on__map {
    margin-bottom: 25px;
}

.adres__on__map a {
    color: #888888;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}


.button__zayavka__footer {
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background-color: #5ba4dd;
    padding: 0px 15px;
    margin-bottom: 25px;
}

.button__zayavka__footer a {
    display: block;
    color: #ffffff;
    line-height: 44px;
    white-space: nowrap;
}

.button__zayavka__footer:hover {
    background-color: #539fd8;
    color: #fff;
}

.button__zayavka__footer:active {
    background-color: #4a94cc;
    color: #fff;
}

.box__spks__logo__footer{
    padding: 55px;
    @media screen and (max-width: 992px) {
       padding: 0;
       margin-bottom: 15px;
    }
}

.spks__web{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin-left: 68px;
    a{
        color: #fff;
        &:hover{
            color: #d4d4d4;
        }
    }
}

// Background + info

.logo_sasv {
    width: 100px;
    margin-bottom: 25px;
    font-size: 16px;
    @media screen and (max-width: 320px) {
        width: 300px;
        height: 85px;
        display: none;
    }

}

.sasp__text {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    float: right;
}


.bg-block-01 {
    background: url(../img/background.png) no-repeat;
    width: 100%;
    background-size: cover;
}

.bg {
    background: url(../img/gradient.png) no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
}

.blog-info {
    padding: 60px 0px 60px 0px;
    margin-bottom: 50px;
}

.web__naks {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.about__organization__text {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (max-width: 320px) {
        font-size: 25px;
    }

}

.about__organization__text__two {
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 600px;

    @media screen and (max-width: 320px) {
        font-size: 16px
    }
}

.button__zayavka__online {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #5ba4dd;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    border: none;
    display: block;
    padding: 10px 25px;

    @media screen and (max-width: 425px) {
        margin-bottom: 15px;
        width: 100%;
    }
}

.button__zayavka__online:hover {
    background-color: #438fc9;
    transition: 0.3s;
}

.button__zayavka__text:hover {
    text-decoration: none;
    color: #fff;
}

.button__zayavka__text:active {
    background-color: #3983bb;
    border-radius: 3px;
}

/*--------------------- Фон + информация правая сторона ---------------------*/

.head__information {
    font-size: 24px;
    font-weight: 250;
    margin-bottom: 35px;

    @media screen and (max-width: 375px) {
        text-align: center;
    }

    @media screen and (max-width: 320px) {
        text-align: center;
    }

    @media screen and (max-width: 425px) {
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        text-align: center;
    }

    @media screen and (max-width: 1200px) {
        margin-top: 10px;
    }

    @media screen and (max-width: 460px) {
        margin-bottom: 15px;
    }

}

.info__text__item {
    font-size: 18px;
    font-weight: 300;
    color: rgb(216, 216, 216);
    line-height: 2.5;
    padding: 0px 15px;
    border-left: 3px solid #fff;

    @media screen and (max-width: 640px) {
        font-size: 14px;
        line-height: 2;
    }
}

.info__text__item:hover {
    color: #fff;
    border-left: 3px solid #5ba4dd;
    margin: 0;
    transition: 0.2s;
}

.box__serv a {
    font-size: 20px;
    color: #fff;
}

.box__service {
    background-color: #465f92;
    padding: 45px 35px;
    margin-bottom: 25px;
}

.box__service:hover {
    background-color: #45639e;
}

.button__uslugi {
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    width: 35%;
    margin-top: 60px;

    @media screen and (max-width: 1600px) {
        width: 100%;
    }
}


.button__ob_uslugax__text {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    text-align: center;
    padding: 14px;
}

.button__ob_uslugax__text a {
    text-decoration: none;
}

.button__ob_uslugax__text:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.button__ob_uslugax__text:active {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}


// Заголовки на страницах

.section__header {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 25px;
}

.section__header__two {
    font-size: 30px;
    font-weight: 200;
    color: #000;
    margin-bottom: 15px;
}

// Услуги

.header__attestation {
    font-size: 26px;
    font-weight: 200;
    color: #fff;
    margin-bottom: 45px;
}

.box__service {
    background-color: #363a3f;
    padding: 45px 35px;
    margin-bottom: 25px;
    border-bottom: 5px solid transparent;

    &:hover {
        background-color: #4d5258;
        transition: 0.3s;
        border-bottom: 5px solid #4d9ad4;
    }
}

.box__serv a {
    font-size: 20px;
    color: #fff;
}

// Новости
.news__naks__tag__maine {
    font-size: 14px;
    color: #313131;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 55px;
    padding: 5px 15px;
}

.all__news__button {
    padding: 10px 0px;
    // border: 1px #4d5258 solid;
    color: #4d5258;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 15px;
    background: transparent;

    a {
        color: #4d5258;
    }

    &:hover {
        color: #4d5258;
    }
}


.date__news__maine {
    font-size: 14px;
    color: #313131;
    padding: 5px 15px;
}

.box__news__content__main {
    padding: 30px;
    background-color: #fcfcfc;
    margin-bottom: 30px;
    border-radius: 0px 0px 15px 15px;
}

.text__content__news__main {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #000;

    &:hover {
        color: #3e5e8d;
    }
}

.text__small__news {
    font-size: 14px;
    font-weight: 300;
    color: #8d8d8d;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.box__news__content__main:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
}

// Новости (внутри)
.header__news{
    font-size: 24px;
    font-weight: 300;
    color: #000;
    margin-bottom: 15px;
}
.img__box__news{
   margin-top: 15px;
   margin-bottom: 25px;
}

.small__text__news{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-top: 15px;
}

.news__tag__all-news{
    margin-top: 25px;
    margin-bottom: 10px;
}

.news__tag__all-news a{
    font-size: 14px;
    margin-top: 25px;
    background-color: transparent;
    border-radius: 55px;
    border: 1px solid #3164a2;
    padding: 5px 15px;
    width: 70px;
    color: #3164a2;
    margin-bottom: 5px;
    &:hover{
        background-color: rgba(188, 218, 255, 0.1);
    }
}


.page-link{
    color: #2e3e60;
    font-size: 14px;
    border-radius: 0px;

}

.page-item {
border-radius: 0px;
}

.page-link:hover{
    transition: 0.2s;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
}


.date__news__inside{
font-size: 14px;
font-weight: 400;
color: #000;
margin-bottom: 15px;
}

.vkontakte {
    background-color: #0288d1;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    &:hover{
        background-color: #027abb;
    }
}


.googlepluse {
    background-color: #f4511e;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    &:hover{
        background-color: #dd481b;
    }
}


.twitter {
    background-color: #03a9f4;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    &:hover{
        background-color: #0b8bc7;
    }
}


.facebook {
    background-color: #3f51b5;
    padding: 10px;
    cursor: pointer;
    &:hover{
        background-color: #3647a7;
    }
}

.to__share{
margin-bottom: 25px;
}

.line__news__end{
    border: 0.5px solid #ebebeb;
    margin-top: 25px;
    margin-bottom: 25px;
}
.prikrep__doc{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.soglashenie__button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 25px;
}

.soglashenie__button__text {
    border: 1px #4c74c4 solid;
    padding: 10px 15px;
    display: block;
    font-size: 14px;
    color: #4c74c4;
    border-radius: 3px;
    &:hover{
        color: #4c74c4;
    }
}

.download__icon {
    margin-left: 10px;
}

.soglashenie__button__text:hover {
    background-color: rgba(76, 116, 196,0.1);
}

.carousel__slide{
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 21px;
    height: 34px;
}
.carousel-control-prev-icon {
    background: url(../img/next__image__arrow-01.png) no-repeat;
}

.carousel-control-next-icon {
    background: url(../img/next__image__arrow-01.png) no-repeat;
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

// Все новости (список)
.header__all-news{
    font-size: 18px;
    font-weight: 300;
    color: #000;
    &:hover{
        color: #4c74c4;
    }
}

.news__tag__inside__nolink{
    font-size: 14px;
    color: #313131;
    background-color: #f0f0f0;
    border-radius: 55px;
    padding: 5px 15px;
    margin-top: 25px;
    // margin-bottom: 5px;
    width: 150px;
}


//  Инфоблок


.info__block {
    margin-bottom: 60px;
}

.articles__text {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 500;
}

.ask__text__header {
    font-size: 22px;
    color: #fff;
    font-weight: 500;

}

.ask__text__small {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}

.number__mail__ask__box {
    font-size: 16px;
    font-weight: 550;
    color: #fff;
    margin-top: 10px;
}

.mail__text__ask__box {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.mail__text__ask__box:hover {

    color: #fff;
}


.ask__box {
    padding: 35px;
    border-radius: 15px;
    background: #333333;

    @media screen and (max-width: 1199px) {
        margin-bottom: 25px;
    }

}

.ask__box:hover {
    margin-top: -10px;
    transition: 0.3s;
}

.ask__a__question {
    width: 100%;
}

.feedback__text {
    border-bottom: 1px solid #5ba4dd;
    color: #5ba4dd;
    font-weight: 550;
    text-transform: uppercase;
}

.feedback__text:hover {

    color: #6db5ec;
}

/*--------------------- Блок 4 Search work ---------------------*/

.search__work__box {
    padding: 35px;
    border-radius: 15px;
    background: rgba(51, 51, 51, 0.8);

    @media screen and (max-width: 1199px) {
        margin-bottom: 25px;
    }

}

.search__text__header {
    font-size: 22px;
    color: #fff;
}

.search__text__header__two {
    font-size: 14px;
    color: #fff;
    margin-bottom: 38px;

    @media screen and (max-width: 416px) {
        display: none;
    }
}

.button__search__work {
    background-color: #ffdc4e;
    border-radius: 3px;
    border: none;

    @media screen and (max-width: 320px) {
        float: left;
        margin-top: 10px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 15px;
    }

}

.button__search__work a {
    display: block;
    color: #ffffff;
    padding: 10px;
    white-space: nowrap;
    color: #000;
    font-size: 16px;

}

.adress__site_bw {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    margin-top: -10px;
    color: #fff;

    @media screen and (max-width: 320px) {
        margin-top: 10px;
    }
}

.button__place__a__job {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

.button__place__a__job:hover {
    color: #fff;
    margin-left: 5px;
    transition: 0.2s;
}

.arrow__next__tree {
    margin-left: 5px;
}

.search__box__img {
    background: url(../img/search__work.png) no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.search__box__img:hover {
    margin-top: -10px;
    transition: 0.3s;
}

/*--------------------- Блок 4 Journal ---------------------*/

.journal__box {
    padding: 35px;
    border-radius: 15px;
    background: rgba(51, 51, 51, 0.8);

    @media screen and (max-width: 1199px) {
        margin-bottom: 25px;
    }

}

.journal__box__img {
    background: url(../img/journal__img.png) no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.journal__box__img:hover {
    margin-top: -10px;
    transition: 0.3s;
}

.journal__img__header {
    margin-bottom: 12px;
    width: 100%;
}

.journal__text {
    font-size: 14px;
    color: #fff;
    margin-top: 16px;
}

.button__svarka {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.button__svarka:hover {
    color: #fff;
    margin-left: 5px;
    transition: 0.2s;
}


// Service (Услуги)

.service__one {
    padding: 25px;
    background-color: #fbfbfb;
    margin-top: 25px;

}

.header__service__name {
    font-size: 22px;
    font-weight: 600;
}

.srok__deistvya {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 25px;
    background-color: #ecf8fc;

    @media screen and (max-width: 320px) {
        margin-top: 25px;
        margin-bottom: 25px;
    }

}

.service__small__text {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
}

// .srok__deistvya{
//     font-size: 18px;
//     font-weight: 400;
//     padding: 25px;
//     background-color: #ecf8fc;

// }

.podat__zayavku {
    cursor: pointer;
    background-color: #5ba4dd;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
    padding: 12px 15px;
    border-radius: 3px;
    font-size: 16px;

    &:hover {
        background-color: #4f97ce;
    }

    &:active {
        background-color: #4185b9;
    }
}

.header__service__two {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    background-color: #ffffde;
    padding: 25px;
}

.perechen__vidov__svarki {
    background-color: #fbfbda;
    padding: 35px;
}

.perechen__text {
    font-size: 18px;
    font-weight: 450;
    color: #404040;
}

.perechen__box {
    background-color: rgba(251, 251, 218, 0.2);
    padding: 25px;
    margin-bottom: 25px;
}


.perechen__box p {
    padding: 12px 0px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #404040;

    @media screen and (max-width: 320px) {
        flex-direction: column;
    }
}

.header__box__info {
    font-size: 22px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}

.box__specialist__text {
    margin-bottom: 25px;
}

.specialist__text__small {
    font-size: 16px;
    padding: 0px 25px;
    margin-bottom: 5px;
    line-height: 1.8;
}

.box__yellow_bg {
    padding: 25px 0px;
    background-color: rgba(251, 251, 218, 0.8);
    margin-bottom: 25px;
}

.line__text {
    border-bottom: 1px #dddddd solid;
}

.specialist__text__zveno {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1.8;
}

.box__rules {
    padding: 25px 0px;
}

.header__rules {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}

.rules__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
}

// ЦОК -  Центр оценки квалификаций

.header__name__service {
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    margin-top: 15px;
}

.cok__text {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.8;
    margin-top: 15px;
}

.line__text__cok {
    border-bottom: 1px #dddddd solid;
    margin-top: 25px;

}

.profstandart__text {
    font-size: 20px;
    font-weight: 400;
}

// О компании

.o__kompanyi__block {
    background-color: #f9f9f9;
    margin-bottom: 35px;
}


.header__kompani {
    font-size: 28px;
    font-weight: 450;
    margin-bottom: 15px;
}


.header__kompani__small {
    font-size: 22px;
    font-weight: 450;
    margin-bottom: 15px;
}

.kompani__white__box {
    background-color: #fff;
    padding: 45px;
}

.box__cok__dopusk {
    background-color: #2e3f62;
    padding: 25px;
    width: 450px;
    float: right;
}

.box__kompanyi__block {
    background-color: transparent;
}

.box__cok__dopusk__text {
    color: #fff;
    font-size: 16px;
}

.content__text__kompanyi {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}

.content__text__kompanyi__col-vo {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 10px;
}

.box__content__text__kompanyi {
    margin-top: 35px;
    padding: 35px;
    background-color: #fcfcfc;
}


.content__box__list {
    background: rgba(251, 251, 218, 0.2);
    padding: 25px;
    margin-bottom: 15px;
}

.content__box__list__text {
    font-size: 16px;
    font-weight: 500;
    color: #404040;
    line-height: 2;
}

.header__content__zayavka {
    font-size: 26px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
}

.box__kompanyi__block__right {
    padding: 35px;
}

.zayavki__text {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.zayavki__text:hover {
    color: #3d70ff;
    transition: 0.2s;
}

.block__zayavok {
    margin-bottom: 15px;
}

.line__content__right__block {
    border: 0.5px solid #ebebeb;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header__rules__attestation {
    font-size: 16px;
    font-weight: 450;
    color: #585858;
    margin-bottom: 15px;
}

.rules__attestion {
    font-size: 14px;
    margin-top: 10px;
}

.box__yellow_bg_two {
    padding: 25px;
    background-color: rgba(251, 251, 218, 0.8);
    margin-bottom: 25px;
}

.small__line__rules {
    border: 0.5px solid #dbdbdb;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line__kompanyi__text {
    border: 0.5px solid #ebebeb;
    margin-top: 25px;
    margin-bottom: 25px;

}

.bd-sidebar__two{
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(135vh - 4rem);
}

// Политика конфинденциальности

.header__political{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    margin-top: 25px;
}

.political__text__small{
    font-size: 14px;
    font-weight: 300;
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
}

// Профстандарты
.header__prostandart {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 35px;
}

.header__utverjdenie__standarti {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.box__profstandart {
    padding: 45px;
    background-color: #fff;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    margin-bottom: 15px;
    max-width: 75%;

    @media screen and (max-width: 1199px) {
        max-width: 100%;
    }
}

.box__profstandart:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
}

.head__standart {
    font-size: 18px;
    font-weight: 450;
    color: #747474;
}

.name__standart {
    font-size: 18px;
    font-weight: 450;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.number__standart {
    font-size: 14px;
    font-weight: 550;
    color: #000000;
}

.text__prikaz__standart {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}

.button__download__document {
    background-color: #5ba4dd;
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.button__viev__document {
    border: 1px solid #5ba4dd;
    padding: 10px 15px;
    border-radius: 3px;
    color: #465f92;
    font-size: 16px;
    display: block;
    text-align: center;
}

.button__download__document:hover {
    background-color: #428ac2;
    color: #fff;
    transition: 0.2s;
}

.button__viev__document:hover {
    background-color: #539ad1;
    color: #fff;
    transition: 0.2s;
}

// Контакты

.tel {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin-bottom: 5px;
}

.tel__right {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 15px;
    @media screen and (max-width: 1199px) {
       margin: 0;
    }
}

.header__tag {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin-bottom: 15px;
    margin-top: 15px;
}

.mail {
    font-size: 16px;
    font-weight: 400;
    color: #a1a1a1;
}

.ya__map {
    margin-bottom: 25px;
}

// Документы

.header__doc{
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-top: 25px;
    margin-bottom: 10px;
}

.doc__name__list{
    font-size: 18px;
    font-weight: 300;
    color: #000;
}

.doc__content{
margin-top: 25px;
margin-bottom: 25px;
background-color: #fbfbfb;
padding: 25px;
border-radius: 3px;
border-left: 2px solid #eeeeee;
&:hover{
    background-color: #f5f5f5;
    transition: 0.2s;
    border-left: 2px solid #275295;
}
}

.doc__name{
    position: relative;
    font-size: 15px;
    color: #275295;
    padding-left: 55px;
}

.doc__name::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0;
    background: url(/img/icon__file-01.png) center 0 no-repeat;
}
.bd-sidebar{
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(30vh - 4rem);
}


// Результат поиска
.result__box{
    background-color: rgb(253, 230, 230);
    border-left: 5px solid  rgb(255, 60, 60);
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header__result {
    font-size: 18px;
    font-weight: 400;
    margin-left: 15px;
}

// Комиссия

.header__table{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    @media screen and (max-width: 576px) {
        margin-top: 15px;
    }
}

.line__table{
    border-bottom: 1px #bebebe solid;
    margin-top: 15px;
    margin-bottom: 15px;
}

.name__table{
    font-size: 14px;
    font-weight: 450;
    color: #5ba4dd;
      @media screen and (max-width: 576px) {
        margin-top: 15px;
    }
}

.info__table{
    font-size: 12px;
    font-weight: 450;
    text-transform: uppercase;
      @media screen and (max-width: 576px) {
        margin-top: 15px;
    }
}

.header__table__box{
    padding: 15px 25px;
    background-color: #f7f7f7;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.header__table__box__two{
    padding: 10px 25px;
    border: 1px solid  #f7f7f7;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    &:hover{
        border: 1px solid  #bbe0fd;
    }

}

.header__table__name{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-top: 25px;
    margin-bottom: 10px;
}