{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__header d-inline-block">Новости</div>
            </div>

        </div>

        <button class="back__to__main" id="all-news">
            <a href="index.html"> <img src="{% static 'img/back__to__main__arrow.png' %}" class="arrow__back__to__main text-align-center"
                    alt=""> На главную</a>
        </button>

        <div class="row">
            <div class="col-xl-2">
            </div>

            <div class="col-xl-3">
                <div class="card__all__news">
                        <p class="news__tag__all-news"><a href="http://naks-samotlor/all-news.html/">НАКС - Самотлор</a></p>
                        <p class="date__news__inside">5 ноября 2018</p>                        
                        <div class="box___news">
                            <a href="news.html#news">
                                    <p class="header__all-news">
                                            Соглашение о сотрудничестве в сфере подготовки, оценки квалификации и аттестации специалистов
                                            сварочного производства.
                                        </p>
                            </a>
                            <div class="img__box__news">
                                <img src="img/1.JPG" class="img-fluid">
                            </div>                
                            <div class="line__news__end"></div>                   
                        </div>
                </div>
                <div class="card__all__news">
                        <p class="news__tag__all-news"><a href="http://www.naks.ru/news/" title="НАКС - Новости" target="_blank">НАКС</a></p>
                        <p class="date__news__inside">5 ноября 2018</p>                        
                        <div class="box___news">
                            <a href="news.html#news">
                                    <p class="header__all-news">
                                            Соглашение о сотрудничестве в сфере подготовки, оценки квалификации и аттестации специалистов
                                            сварочного производства.
                                        </p>
                            </a>
                            <div class="img__box__news">
                                <img src="img/1.JPG" class="img-fluid">
                            </div>                
                            <div class="line__news__end"></div>                   
                        </div>
                </div>
            </div>         
            <div class="col-xl-3">
                <div class="card__all__news">
                        <p class="news__tag__all-news"><a href="http://naks-samotlor/all-news.html/">НАКС - Самотлор</a></p>
                        <p class="date__news__inside">2 ноября 2018</p>                        
                        <div class="box___news">
                            <a href="news.html#news">
                                    <p class="header__all-news">
                                            Соглашение о сотрудничестве в сфере подготовки, оценки квалификации и аттестации специалистов
                                            сварочного производства.
                                        </p>
                            </a>
                            <div class="img__box__news">
                                <img src="img/1.JPG" class="img-fluid">
                            </div>                
                            <div class="line__news__end"></div>                   
                        </div>
                </div>
                <div class="card__all__news">
                        <p class="news__tag__all-news"><a href="http://www.naks.ru/news/" title="НАКС - Новости" target="_blank">НАКС</a></p>
                        <p class="date__news__inside">2 ноября 2018</p>                        
                        <div class="box___news">
                            <a href="news.html#news">
                                    <p class="header__all-news">
                                            Соглашение о сотрудничестве в сфере подготовки, оценки квалификации и аттестации специалистов
                                            сварочного производства.
                                        </p>
                            </a>
                            <div class="img__box__news">
                                <img src="img/1.JPG" class="img-fluid">
                            </div>                
                            <div class="line__news__end"></div>                   
                        </div>
                </div>
            </div>         
            <div class="col-xl-3">
                <div class="card__all__news">
                        <p class="news__tag__all-news"><a href="http://www.naks.ru/news/" title="НАКС - Новости" target="_blank">НАКС</a></p>
                        <p class="date__news__inside">3 ноября 2018</p>                        
                        <div class="box___news">
                            <a href="news.html#news">
                                    <p class="header__all-news">
                                            Соглашение о сотрудничестве в сфере подготовки, оценки квалификации и аттестации специалистов
                                            сварочного производства.
                                        </p>
                            </a>
                            <div class="img__box__news">
                                <img src="img/1.JPG" class="img-fluid">
                            </div>                
                            <div class="line__news__end"></div>                   
                        </div>
                </div>
                <div class="card__all__news">
                        <p class="news__tag__all-news"><a href="http://naks-samotlor/all-news.html/">НАКС - Самотлор</a></p>
                        <p class="date__news__inside">3 ноября 2018</p>                        
                        <div class="box___news">
                            <a href="news.html#news">
                                    <p class="header__all-news">
                                            Соглашение о сотрудничестве в сфере подготовки, оценки квалификации и аттестации специалистов
                                            сварочного производства.
                                        </p>
                            </a>
                            <div class="img__box__news">
                                <img src="img/1.JPG" class="img-fluid">
                            </div>                
                            <div class="line__news__end"></div>                   
                        </div>
                </div>
                <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Назад</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="all-news.html#all-news">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Вперед</a>
                          </li>
                        </ul>
                      </nav>
            </div>         

            <div class="col-xl-2"></div>
        </div>


        <div class="line__otstup"></div>
        <button class="back__to__main">
            <a href="index.html"> <img src="{% static 'img/back__to__main__arrow.png' %}" class="arrow__back__to__main text-align-center"
                    alt=""> На главную</a>
        </button>
    </div>
    <div class="line__otstup"></div>



   
{% endblock content %}