{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__header d-inline-block">Услуги центра</div>
            </div>

        </div>

        <button class="back__to__main" id="cok">
            <a href="{% url 'index' %}"> <img src="{% static 'img/back__to__main__arrow.png' %}" class="arrow__back__to__main text-align-center"
                    alt=""> На главную</a>
        </button>


        <div class="row">
            <div class="col-xl-2">
            </div>
            <div class="col-xl-8">
                <div class="header__service__name">Центр оценки квалификаций</div>
                <div class="line__section"></div>
                <div class="header__name__service">
                    Независимая оценка квалификаций
                </div>
                <button class="podat__zayavku" data-toggle="modal" data-target="#modal-statement">
                    Подать заявку
                </button>
                <div class="line__text__cok"></div>
                <p class="cok__text">
                    <a href="https://nark.ru/nok/">Независимая оценка квалификаций</a> проводится Центром оценки
                    квалификации в соответствии с Федеральным
                    законом от <br> 3 июля 2016 г. N 238-ФЗ «О независимой оценке квалификации» и нормативно-правовыми
                    актами Российской Федерации по независимой оценке квалификации.
                </p>

                <p class="cok__text">
                    Центр оценки квалификации наделяется полномочиями по проведению оценки квалификации <a href="http://spks.naks.ru/spks/about/">
                        Советом по профессиональным квалификациям в области сварки.</a>
                </p>

                <p class="cok__text">
                    Независимая оценка квалификации проводится на основании действующих профессиональных <a href="profstandarti.html#profstandarti">Стандартов.</a>
                </p>

                <p class="cok__text">
                    Реестр сведений о проведении независимой оценки квалификации доступен по <a href="https://nok-nark.ru/">ссылке</a>
                </p>
                <p class="cok__text">
                    <a href="http://spks.naks.ru/cert/primery_zadaniy/">Примеры</a> заданий, входящих в состав
                    оценочных средств, используемых Центром при проведении профессионального экзамена.
                </p>
                <p class="cok__text">
                    <a href="http://spks.naks.ru/spks/apelcom/">Сведения</a> об апелляционной комиссии по рассмотрению
                    жалоб, связанных с результатами прохождения профессионального экзамена и выдачей свидетельства о
                    квалификации.
                </p>
                <p class="cok__text">
                    <a href="#">Правила</a> проведения центром оценки квалификаций независимой оценки квалификации в
                    форме профессионального экзамена, утвержденные постановлением Правительства Российской Федерации от
                    16 ноября 2016 г. № 1204.
                </p>
                <p class="cok__text">
                    <a href="#">Образец</a> заявления для проведения независимой оценки квалификации на бумажном
                    носителе и в электронной форме.
                </p>
                <p class="cok__text">
                    <a href="#">Перечень документов, необходимых для прохождения профессионального экзамена.</a>
                </p>
                <p class="cok__text">
                    <a href="https://nok-nark.ru/complaints/">Подать апелляцию в апелляционную комиссию.</a>
                </p>

                <p class="profstandart__text">
                    <a href="profstandarti.html#profstandarti">Профстандарты в области сварки</a>
                </p>

                <div class="line__text__cok"></div>
            </div>
            <div class="col-xl-2">
            </div>
        </div>


        <div class="line__otstup"></div>
        <button class="back__to__main">
            <a href="{% url 'index' %}"> <img src="{% static 'img/back__to__main__arrow.png' %}" class="arrow__back__to__main text-align-center"
                    alt=""> На главную</a>
        </button>
    </div>
    <div class="line__otstup"></div>




{% endblock content %}