{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__header d-inline-block">Контакты</div>
            </div>

        </div>

        <button class="back__to__main" id="contact">
            <a href="index.html"> <img src="{% static 'img/back__to__main__arrow.png' %}" class="arrow__back__to__main text-align-center"
                    alt=""> На главную</a>
        </button>

        <div class="row">
            <div class="col-xl-2">
            </div>          
            
                  <div class="col-xl-4">
                     <div class="header__tag">
                         Телефоны
                     </div>
                     <p class="tel d-inline-block">
                            8 (902) 855-80-81                                                 
                      </p>
                     <p class="tel__right d-inline-block">
                            8 (902) 855-47-02                                                
                      </p>
                     <p class="tel d-inline-block">
                            8 (919) 53-98-333                                           
                      </p>
                     <p class="tel__right d-inline-block">
                            8 (904) 870-19-05                                                
                      </p>
                      <div class="header__tag">
                        Адрес
                    </div>
                    <p class="mail">
                        628600, Ханты-Мансийский автономный округ – Югра, г. Нижневартовск, Западный промышленный узел, панель 4, ул. Индустриальная, д. 89
                     </p>                     
                  </div>
                            
                  <div class="col-xl-2">
                     <div class="header__tag">
                         Почта
                     </div>
                     <p class="mail">
                      <a href="mailto:sur20ac@mail.ru" title="Написать письмо">sur20ac@mail.ru</a>
                      <a href="mailto:sur15acsamotlor@mail.ru   " title="Написать письмо">sur15acsamotlor@mail.ru  </a>
                      </p>
                  </div> 
            <div class="col-xl-2"></div>
        </div>
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-6">
                    <div class="header__tag">
                            Наше местоположение
                        </div>
                        <div class="ya__map">
                           <script type="text/javascript"  charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A060c44eb9b198de1c8acc9aebf8f9afbc87eaa8366773bf2b980fdb72217f64d&amp;width=858&amp;height=542&amp;lang=ru_RU&amp;scroll=true"></script>
                        </div>
            </div>
        </div>


        <div class="line__otstup"></div>
        <button class="back__to__main">
            <a href="index.html"> <img src="{% static 'img/back__to__main__arrow.png' %}" class="arrow__back__to__main text-align-center"
                    alt=""> На главную</a>
        </button>
    </div>
    <div class="line__otstup"></div>



   
{% endblock content %}