{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="container" id="page-top">
    <div class="row">
        <div class="col-lg-12">
            <div class="section__header d-inline-block">Документы</div>
        </div>
    </div>

    <button class="back__to__main" id="doc">
        <a href="{% url 'index' %}"> <img src="{% static 'img/back__to__main__arrow.png' %}"
                class="arrow__back__to__main text-align-center" alt=""> На главную</a>
    </button>


        <div class="row">
            <div class="offset-xl-2 col-xl-6">
                <p class="header__doc">Список документов ООО АЦ "НАКС Самотлор"</p>
                <p class="doc__name__list">Наименования документов</p>
                {% for doc in documents %}
                <a href="{{ doc.document.url }}">
                    <div class="doc__content">
                        <p class="doc__name">{{ doc.title }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="col-xl-4 bd-sidebar">
              {% include 'mainapp/includes/side_panel_sasv.html' %}
            </div>
        </div>



    <div class="line__otstup"></div>
    <button class="back__to__main">
        <a href="{% url 'index' %}"> <img src="{% static 'img/back__to__main__arrow.png' %}"
                class="arrow__back__to__main text-align-center" alt=""> На главную</a>
    </button>
</div>
<div class="line__otstup"></div>




{% endblock content %}