{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
<div class="container" id="page-top">
    <div class="row">
        <div class="col-lg-12">
            <div class="section__header d-inline-block">Комисcия</div>
        </div>
    </div>

    <button class="back__to__main" id="komisiya">
        <a href="{% url 'index' %}"> <img src="{% static 'img/back__to__main__arrow.png' %}"
                class="arrow__back__to__main text-align-center" alt=""> На главную</a>
    </button>


    <div class="row">
        <div class="offset-xl-1 col-xl-8 align-self-start animated fadeIn">
            <p class="header__table__name">Состав комиссии аттестационного центра СУР-20АЦ</p>
            {% comment %} header {% endcomment %}
            <div class="header__table__box">
                <div class="col-xl-2 col-sm-2 col-md-2 d-inline-block align-middle">
                    <p class="header__table">Ф.И.О</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Номер удостоверения</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Группа технических устройств</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Способ сварки (наплавки) </p>
                </div>
            </div>
            {% comment %} chk_data {% endcomment %}
            {% for person in sostav_komissii_acsp %}
                {% include 'mainapp/includes/chk_data.html' %}
            {% endfor %}

        <p class="header__table__name">Состав комиссии аттестационного центра АЦСО</p>
            {% comment %} header {% endcomment %}
            <div class="header__table__box">
                <div class="col-xl-2 col-sm-2 col-md-2 d-inline-block align-middle">
                    <p class="header__table">Ф.И.О</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Номер удостоверения</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Группа технических устройств</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Способ сварки (наплавки) </p>
                </div>
            </div>
            {% for person in sostav_komissii_acso %}
                {% include 'mainapp/includes/chk_data.html' %}
            {% endfor %}
        <p class="header__table__name">Состав комиссии аттестационного центра АЦСТ</p>
            {% comment %} header {% endcomment %}
            <div class="header__table__box">
                <div class="col-xl-2 col-sm-2 col-md-2 d-inline-block align-middle">
                    <p class="header__table">Ф.И.О</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Номер удостоверения</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Группа технических устройств</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Способ сварки (наплавки) </p>
                </div>
            </div>
            {% for person in sostav_komissii_acst %}
                {% include 'mainapp/includes/chk_data.html' %}
            {% endfor %}
        <p class="header__table__name">Состав комиссии центра оценки квалификации</p>
            {% comment %} header {% endcomment %}
            <div class="header__table__box">
                <div class="col-xl-2 col-sm-2 col-md-2 d-inline-block align-middle">
                    <p class="header__table">Ф.И.О</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Номер удостоверения</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Группа технических устройств</p>
                </div>
                <div class="col-xl-3 col-sm-3 col-md-3 d-inline-block align-middle">
                    <p class="header__table">Способ сварки (наплавки) </p>
                </div>
            </div>
            {% for person in sostav_komissii_cok %}
                {% include 'mainapp/includes/chk_data.html' %}
            {% endfor %}

        </div>
        <div class="col-xl-3 animated bounceInRight">
            {% include 'mainapp/includes/side_panel_sasv.html' %}
        </div>
    </div>




    <div class="line__otstup"></div>
    <button class="back__to__main">
        <a href="{% url 'index' %}"> <img src="{% static 'img/back__to__main__arrow.png' %}"
                class="arrow__back__to__main text-align-center" alt=""> На главную</a>
    </button>
</div>
<div class="line__otstup"></div>




{% endblock content %}